name: CI/CD Pipeline

on: 
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: DOCR  # <--- ADD THIS LINE (Match your environment name exactly)

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      
      - name: Build and Test
        working-directory: ./coursera-spring-hello-world
        run: docker compose up -d

      - name: Login to DigitalOcean Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.digitalocean.com
          username: ${{ secrets.DIGITALOCEAN_USERNAME }}
          password: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./coursera-spring-hello-world
          push: true
          tags: registry.digitalocean.com/oovaa/cicd:latest 

      - name: Multiple commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            whoami
            ls -al        